body {
  background-color: #181818;
  font-family: 'Akshar', sans-serif;  
  margin: 0%;
  padding: 0%;
  width: 100%;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */  
}

/* Add a black background color to the top navigation */
#nav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  top:0;
  padding-top:0;
  margin:0;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
#nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding:1% 1%;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
#nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#nav a.active {
  background-color: #ddd;
  color: black;
}

/* Circled profile image */
#container, .nav-title {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f2f2f2; 
}

#container .container-body, #container .container-title  {
  color: rgb(212, 145, 156); 
  left:25%;
  top:25%;
  text-align:center;
  width:50%;
  font-family: 'Quicksand', sans-serif!important;
}

.nav-title {
  cursor:default;
  font-family: 'Akshar', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    azure 0%,
    pink 15%,
    rgb(194, 86, 104) 25%,
    #181818 30%,
    #333 60%,
    black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(216, 191, 216, 0.356);
  animation: textclip 1.5s linear infinite;
  animation-iteration-count: 1;
  font-size: 2rem;
}

 
@keyframes textclip {
 to {
   background-position: 200% center;
 }
}

.circleimg img {
  border-radius: 50%; 
  margin: 1rem 1rem;
  border: 2px solid rgb(212, 145, 156); 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
}

/* RESPONSIVENESS */
@media screen and (max-width: 600px) {
  #nav a {
    float: none;
    display: block;
  }

  .nav-title {
    font-size: 1rem;
  }

  .circleimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
  }  
  
  #container {
    left:25%;
    top:25%;
    text-align:center;
    width:50%;
  }
}