<div class="container-title">
    <span style='font-size: 20vh;'>&#127776;</span>
    <h1>My resume</h1>
</div>

<div class="container-body">
    <!-- <div class="circleimg"><img src="/media/logo.png" /></div> -->
    <img src="/media/logo.png" />
    <h2>And here is some randomly placed lorem text</h2><br />
    This is my dynamic routing based full OOP JS website. I was very bored and decided to build it.<br />
    Here is some information for me.... [Just a joke, cus GDPR] <br /><br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vel recusandae, magni molestiae non corrupti nostrum iure voluptate debitis facere, impedit facilis vero quisquam exercitationem veniam dicta perferendis delectus natus!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, voluptatum rem earum unde ipsum odio aperiam nesciunt minus at itaque harum culpa, ducimus dolore ipsa. Repellat impedit incidunt eveniet molestiae?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam ea veniam fugit non! Dolor illum in facere suscipit, fugiat aliquid eaque odit ratione eius, minus aut quasi vel alias.
    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem necessitatibus enim aliquid minus ipsa? Sit, ea! Esse adipisci optio, doloremque porro placeat ad repellat, deleniti magni quam, modi at numquam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eius dolorem reprehenderit! Esse fugiat, vero doloribus ipsa sed nemo hic cum reiciendis tempore incidunt nobis, repellendus voluptatem earum numquam voluptates.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, est ad corporis provident veniam tempore dolorem itaque minima placeat aspernatur accusantium atque praesentium repellat minus eligendi? Dolorum dignissimos sunt sit!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio fuga libero, repudiandae aspernatur aperiam nisi quis corporis vel consectetur, deleniti eos. Commodi exercitationem eos dicta, atque velit quia ea delectus?
    <br><br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, tempore ratione! Sed sequi nisi harum, illum fugiat quidem ex reprehenderit praesentium voluptatum ullam iusto ducimus incidunt tempora culpa aliquam corrupti.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At non adipisci et accusamus, nesciunt quae delectus rem quibusdam consectetur necessitatibus quasi reprehenderit quia natus veniam consequatur voluptatibus magnam omnis. Ipsum.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quasi eligendi dolor laudantium tempore magni. Quam non magnam aliquam eaque quos velit fugit, quaerat dolorem et labore nam delectus soluta?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio fuga libero, repudiandae aspernatur aperiam nisi quis corporis vel consectetur, deleniti eos. <br><br> Commodi exercitationem eos dicta, atque velit quia ea delectus?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, tempore ratione! Sed sequi nisi harum, illum fugiat quidem ex reprehenderit praesentium voluptatum ullam iusto ducimus incidunt tempora culpa aliquam corrupti.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At non adipisci et accusamus, nesciunt quae delectus rem quibusdam consectetur necessitatibus quasi reprehenderit quia natus veniam consequatur voluptatibus magnam omnis. Ipsum.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio fuga libero, repudiandae aspernatur aperiam nisi quis corporis vel consectetur, deleniti eos. Commodi exercitationem eos dicta, atque velit quia ea delectus?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, tempore ratione! Sed sequi nisi harum, illum fugiat quidem ex reprehenderit praesentium voluptatum ullam iusto ducimus incidunt tempora culpa aliquam corrupti.
    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At non adipisci et accusamus, nesciunt quae delectus rem quibusdam consectetur necessitatibus quasi reprehenderit quia natus veniam consequatur voluptatibus magnam omnis. Ipsum.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio fuga libero, repudiandae aspernatur aperiam nisi quis corporis vel consectetur, deleniti eos. Commodi exercitationem eos dicta, atque velit quia ea delectus?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, tempore ratione! Sed sequi nisi harum, illum fugiat quidem ex reprehenderit praesentium voluptatum ullam iusto ducimus incidunt tempora culpa aliquam corrupti.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At non adipisci et accusamus, nesciunt quae delectus rem quibusdam consectetur necessitatibus quasi reprehenderit quia natus veniam consequatur voluptatibus magnam omnis. Ipsum.
</div>