<div class="container-title">
    <span style='font-size: 20vh;'>&#9993;</span>
    <h1>Contact</h1>
</div>
<div class="container-body">
    <form action="#" data="mail">   
        <!-- Name -->
        <label for="fname">Please type in your name.</label>   
        <input type="text" id="fname" placeholder="Name" name="fname">                      
        
        <!-- Email -->
        <label for="mail">Please type in your email.</label>
        <input type="text" id="mail" placeholder="Mail" name="mail">                    
        
        <!-- Form Button -->
        <button name="form-btn" id="form-btn">
            <i class="fa fa-arrow-circle-right fa-lg"></i> Submit
        </button>

    </form>
</div>

