<div class="container-title">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Current Price</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Genesis Date</th>   
          <th scope="col">Trade</th>
        </tr>
      </thead>
      <tbody class="price-list">
      </tbody>
    </table> 
  </div>
  
  <div class="container-body">
    <div class="metaNode"></div>
  </div>
  
  