<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bored-theme</title>

    <!-- styles & fonts -->
    <link rel="shortcut icon" href="../media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Plus+Jakarta+Sans:ital,wght@0,200;1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Plus+Jakarta+Sans:ital,wght@0,200;1,300&family=Quicksand:wght@300&display=swap" rel="stylesheet"></head>

<body>
    <div class="nav-title">
        <p>Portfolio</p>
    </div>

    <div id="nav">
        <a class="nav-b" href="/home">Home</a>
        <a class="nav-b" href="/about">About me</a>
        <a class="nav-b" href="/contact">Contact</a>
    </div>
    
    <div id="app"> </div>
</body>

<!-- scripts -->
<script type="module" src="../js/main.js"></script>
</html>